<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
  <link rel="stylesheet" href="/scripts/bulma.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script src="https://ucarecdn.com/libs/widget/3.1.1/uploadcare.full.min.js" charset="utf-8"></script>
  <script>
    UPLOADCARE_PUBLIC_KEY = 'demopublickey'
    UPLOADCARE_TABS = 'url file facebook'
   </script>
</head>
<body>
