<nav class="navbar">
  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="#">Sign In</a>
      <a class="navbar-item" href="#">Sign Up</a>
      <a class="navbar-item" href="#">Profile</a>
      <a class="navbar-item" href="#">Sign Out</a>
    </div>
  </div>
</nav>
