<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">Vinyl</a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item"><%- include nav_search %></a>
      <% if(locals.session) { %>
        <a class="navbar-item" href="/users/profile">Profile</a>
        <a class="navbar-item" href="/log_out">Sign Out</a>
      <% } else { %>
        <a class="navbar-item" href="/sign_in">Sign In</a>
        <a class="navbar-item" href="/sign_up">Sign Up</a>
      <% }%>
    </div>
  </div>
</nav>
