<%- include partials/header %>
<%- include partials/nav %>
<div class="columns">
  <form class="field column is-one-third is-offset-one-third" action="/sign_up" method="POST">

    <label class="label">Email</label>
    <div class="control has-icons-left">
      <input class="input" type="text" name="email" placeholder="Email" />
      <span class="icon is-small is-left">
        <i class="fa fa-envelope"></i>
      </span>
    </div>

    <label class="label">Username</label>
    <div class="control has-icons-left">
      <input class="input" type="text" name="username" placeholder="Username" />
      <span class="icon is-small is-left">
        <i class="fa fa-user"></i>
      </span>
    </div>

    <label class="label">Password</label>
    <div class="control has-icons-left">
      <input class="input" type="text"  name="password" placeholder="password" />
      <span class="icon is-small is-left">
        <i class="fa fa-lock"></i>
      </span>
    </div>

  <div class="field is-grouped">
    <div class="control">
      <input class="button " type="submit" value="sign up" />
    </div>
  </div>
  </form>

</div>
<%- include partials/footer %>
