html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.background-image {
  height: 50vh;
  width: 100vw;
}

.margin-top-5 {
  margin-top: 5vh;
}

.uploadcare--widget__button_type_open {
  background-color: slategrey;
}

.uploadcare--widget__progress {
  color:#FFF;
  border-color: #000;
}
